	@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mea+Culpa&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mea+Culpa&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
	
	*{
		box-sizing: border-box;
	}

	body {
		margin:0; 
		font-family: LobsterTwo-Bold; 
	}

	.navbar {
		display:flex;
		flex-flow;row wrap;
		height:120px;
		 /* background: cadetblue;  */
		justify-content: center;
		align-items: center;
		position:fixer;
		width: 100%;
	}
	.logo{
		flex:20%;
		/* border:1px solid pink; */
		margin-left: 18%;
	    text-align: center;
	}

	.logo h1{
		font-family:Lobster Two, sans-serif;
		color: #4f4f4f;
		font-size:45px;
	}

	.menu {
		flex:60%;
		/* border:1px solid yellow;  */
		text-align:right;
		padding:20px;
	}

	.menu a{
		color: #b400ab;
		text-decoration: none;
		font-size:20px;
		padding:5px;
	}

	.menu a:hover{
		color: #24a4c6;
		/* border-top:4px solid #24a4c6; */
		text-align:center;
	}

	#botao{
		background: #b400ab;
		padding: 10px 25px;
		color: white;
		border-radius:5px;
		margin-right:15%;
		margin-left:2%;
	}

	#botao:hover{
		border: none;
		background: #24a4c6;
	}

	.header{
		display:flex;
		flex-flow:row wrap;
		/* height: 600px;  */
		justify-content: center;
		align-items: center;
		/* background: gray; */
		padding-top:100px;
	}

	.headline{
		margin-left:10%;
		flex:40%;
		/* border:1px solid black;  */
	}
	
	.headline h2{
		font-weight: 900px;
		font-size:20px;
		color: #4f4f4f;
		text-align:center;
		margin:0;
		padding:0;
	}
	
	.headline p{
		color:#b400ab;
		text-align: center;
	}
		
	.contact-btn{
		display: inline-block;
	  /*background: #24a4c6;*/
		padding: 20px;
		color: white;
		text-transform: uppercase;
		border-radius: 5px;
		text-decoration: none;
		text-align:center;
	}
	
	.contact-btn:hover{
		background:#b400ab;
	}
	.img-headline{
		margin-right:10%;
		flex:40%;
		  /* border:1px solid pink;  */
	}
	
	section {
		display:inline-block;
		margin-top:2px;
		border:1px silod blue;
		margin-left:2%;
		margin-right:2%;
		padding:5%;
		text-align: center;
		/* width:90%; */
	}
	
	section: h2{
		width: 80%;
		font-size:100px;
		margin:0;
		font-family: MeaCulpa-Regular;
		font-weight: Bold;
		color:#c84c2a;
	}
	
	#texto1 {
		color: #4f4f4f;
		margin-bottom: 50px;
	}
	
	.servicos{
		display:inline-block;
		margin-top:10%;
	}
	
	.card{
		display:inline-block;
		width:30%;
		padding:40px;
		margin:1%;
		border:1px solid #b400ab;
		border-radius: 5px;
		cursor:pointer;
	}
	
	.texto-oculto {
		display: none;
	}
		
	.card:hover {
		background:#b400ab;
		color:white;
		padding:40px;
	}
	
	.card:hover img{
		display:none;
	}
	
	.card:hover .card-text{
		display: none;
	}
	
	.card:hover .texto-oculto{
		display:block;
	}
	
	footer{
		margin-top:100px;
		height: 250px;
		background-image:linear-gradient(180deg,#4f4f4f,#090422,black);
		text-align:center;
		border-top:5px solid #b400ab;
	}
	
	.logo-rodape{
		font-family:Lobster Two, sans-serif;
		padding:50px;
	}
	
	.logo-rodape h1{
		color:white;
	}
	
	.logo-rodape p{
		color:white;
	}
	
	.agencia{
		font-family:Bitcount Ink, system-ui;
		color: white;
		font-size:30px;
		
	}
	
	.wats{
		position:fixed;
		bottom:5px;
		right:5px;
		width: 58px;
	}
	
	